@import './bootstrap.min.css';
img[alt="ag-Grid Logo"] {
    display: block;
    margin: auto;
    width: 250px;
}

.card-header {
    background: white;
}

.card-body {
    /* text-align: center; */
}